<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>View Feedback</title>
  <link rel="stylesheet" href="/static/feedback.css">
</head>
<body>
  <h2>All Submitted Feedback</h2>
  <table>
    <thead>
      <tr>
        <th>Faculty</th>
        <th>Student Name</th>
        <th>Rating</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedbacks %}
      <tr>
        <td>{{ feedback['Faculty'] }}</td>
        <td>{{ feedback['Student_name'] }}</td>
        <td>{{ feedback['Rating']}}</td>
        <td>{{ feedback['Comments'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
