<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Feedback Portal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Student Feedback Portal</h1>
            <p>Your voice matters. Share your feedback with us.</p>
        </header>

        <main>
            <div class="button-container">
                <a href='/select_faculty' class="btn">Give Feedback</a>
                <a href='/confirmation' class="btn">confirmation</a>
                <a href='/admin_login' class="btn">Admin Feedback View</a>
            </div>
        </main>

        <footer>
            <p>&copy; 2025 CS 2nd year Feedback System</p>
        </footer>
    </div>
</body>
</html>
